* {
    margin: 0;
    padding: 0;
    
}

body {
background-color: #f0ece3;
margin: 0;
}

.title {
color: #0d3b66;
font-family: 'Coiny', cursive;
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f2e8cf;

}

.list-nav {
    list-style: none;
    display: flex;
    font-family: 'Varela Round', sans-serif;
}

.list-nav a{
    text-decoration: none;
    font-size: 20px;
    color: #ee964b;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;ç
}


.logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
}

