* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3dbc3;
    background-image: url(assets/panda-img.avif);
    height: 400px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.title {
color: #73925f;
font-family: 'Coiny', cursive;
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #b5ca8d;

}

.list-nav {
    list-style: none;
    display: flex;
    font-family: 'Varela Round', sans-serif;
}

.list-nav a{
    text-decoration: none;
    font-size: 18px;
   font-weight: 800;
    color: #73925f;
    margin: 30px;
    padding: 20px;
}

nav a:hover{
    color: #ffffff;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 10px;
}

